@font-face { 
    font-family: "HelveticaNeue"; 
    src: url("/fonts/HelveticaNeue.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}
h1 { 
    font: 100px 'Helvetica Neue', Helvetica, Arial, sans-serif;  
    color: rgba(175, 47, 47, 0.15);
    margin-top: 10px;
    text-align: center; 
} 

.newItem { 
    width: 488px; 
    height: 32px; 
    padding: 16px 1px 16px 60px; 
    border: none; 
    background: rgba(0, 0, 0, 0.003); 
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03); 
    font-size: 24px; 
}

.toggleAll {
    top: 10px;
    left: -14px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none;
    position: absolute;
}

input:focus, textarea:focus {outline: none;}

.toggleAll:checked:before {
    color: #737373;
}


.toggleAll:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}


.toggleAll {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
}

input:placeholder-shown {
    border: none;
    font-style: oblique; 
    opacity: 0.5;
}

li { 
    list-style-type: circle; 
} 

.myList { 
    color: #4d4d4d;
    font-weight: 300;
    position: relative;
    background: white;
  
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
} 

.container { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    background: #fff;
    margin-top: 7px; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
} 

.todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    left: -4px;
    top: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* .todo-list {
    margin-left: 30px;
    margin-top: 16px;
} */
.todo-list li {
    position: relative;
    font-size: 24px;
    list-style-type: none;
    border-bottom: 1px solid #ededed;
    padding: 20px;
}

.todo-list label {
    margin-left: 40px;
}
.todo-list li .toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

 .upFooter {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    height: 40px;
    position: relative;
    margin-top: -2px;
    border-top: 1px solid #e6e6e6;
    font-color: #777;
    text-align: center;
    
} 
.filters {
    display: inline-block;
    width: 300px;
    margin: 10px auto;
}
.filters li {
    display: inline-block;
    padding-left: 2px;
   
}
.filters li a {
    color: #777;
    font-size: 14px;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.upFooter li a:hover {
    border: 1px solid ;
    border-color: rgba(175, 47, 47, 0.1); 
    border-radius: 3px;
}

.threeLine {
    content:' '; 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
} 
 
.count {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    left: 0;
}
.filters ul {
    padding-left: 0px;
}

.downFooter {
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 59px;
}

.downFooter p {
    line-height: 2;
}

.downFooter a {
    text-decoration: none;
    color: #bfbfbf;
}

.downFooter a:hover {
    text-decoration: underline;
}
